* {
    color: #fff;
    background-color: #222;
}

i {
    font-style: italic;
    font-weight: bold;
    color: #cfc;
}

a { color: #aaf; }

h2 {
    margin-top: 30px;
    background-color: #333;
}

h3 {
    margin-top: 30px;
    color: #ccc;
}

pre { background-color: #111; }
