/* ----- general background ----- */

QWidget {
        background-color: #111;
        alternate-background-color: #181;
        selection-background-color: #555;
        selection-color: #fff;
        color: #aaa;
        dialogbuttonbox-buttons-have-icons: 1;
}

QFrame {
        background-color: #181818;
}

QTabBar {
        background-color: #111;
        color: #000;
}

QStatusBar{
        background-color: #222;
        border: 2 solid #000;
}

/** ---- main window styles ----- */

QMainWindow::separator {
        background-color: #202830;
        width: 5px; /* when vertical */
        height: 5px; /* when horizontal */
}

QDockWidget { color: #88a; }

QScrollArea, QListView, QGraphicsView {
        border: 1px solid #444;
}

/* ----- group widget header ---- */

QWidget[GroupHeader="true"] {
        background-color: #202830;
        color: #ddd;
}

QToolButton[GroupHeader="true"] {
        background-color: #344350;
}

/* ---- table view ---- */

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(:/icon/branch_vline.png) 0;
}
QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(:/icon/branch_more.png) 0;
}
QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(:/icon/branch_end.png) 0;
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(:/icon/branch_closed.png);
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(:/icon/branch_open.png);
}


/* ---- buttons --------- */

QPushButton, QToolButton {
        background-color: #555;
        color: #fff;
}

QPushButton:disabled, QToolButton:disabled {
        background-color: #222;
        color: #000;
}



/* ------- edits ----------- */

QSpinBox, QDoubleSpinBox, QLineEdit {
        background-color: #383838;
        selection-background-color: #338;
        color: #ddd;
        border: 1px solid #888;
}

/*QDoubleSpinBox::up-arrow { margin:-4; background-color: #555; color: #fff; }*/

QSpinBox[readOnly="true"],
QDoubleSpinBox[readOnly="true"],
QLineEdit[readOnly="true"] { color: #888; border-color: #555; }

QLineEdit[invalid="true"] { background-color: #433; color: #f88; }

QPlainTextEdit, QTextBrowser { background-color: #111; }

QLabel[editable="true"]:hover { color: #9c9; }

/* ---- lists ---- */

QListView::item:selected {
        background-color: #444;
        border: 1px solid #aaa;
}

QComboBox {
        color: #fff;
        border: 1px solid #777;
}


/*QComboBox::drop-down { background-color: #333; }*/



/* ----- scollbars ------ */

QScrollBar {
        background-color: #101c28;
        width: 10 px;
        height: 10 px;
}

QScrollBar::handle {
        background-color: #456;
}

/* XXX arrows? */


/* ---- hover states ------ */

QPushButton:hover, QToolButton:hover {
        background-color: #666;
        font: bold;
}

QMainWindow::separator:hover { background-color: #404860; }

QToolButton[GroupHeader="true"]:hover {
        background-color: #546370;
}

QSpinBox:hover, QDoubleSpinBox:hover, QLineEdit:hover {
        background-color: #555;
}

QListView::item:hover { background-color: #333; }
QListView::item:selected:hover { background-color: #555; }

QScrollBar::handle:hover { background-color: #587080; }








/* early tries
* {
        background-color: #202020; color: #a0a0a0;
        border: 1px solid #404040;
        selection-background-color: #505060;
        selection-color: #ffffff
}

*:hover {
        background-color: #242424
}

*:pressed {
        background-color: #121212
}

QLabel { border: 0px } * { show-decoration-selected: 0 }
QAbstractItemView { background-color: #808080 }
QAbstractItemView:hover { background-color: #868686 }
*/
